$accent: #00BCD4;
$primary: #212121;
$secondary: #727272;

$scoreRed: #F44336;
$scoreYellow: #FFEB3B;
$scoreGreen: #4CAF50;

.container-fluid {
  overflow: hidden;
}

.user-info {
  img {
    display: inline;
  }
}

a:visited {
  color: #fff;
}
.user-post a:visited {
  color: #609;
}

.authentication::before {
  opacity: 0.91;
  background: #313740;
}

.breadcrumb-item .zmdi-home {
  color: #313740;
}

.register_link {
  color: #f96332 !important;
}


.form-group .help-info {
  text-align: left;
  display: block;
  width: 100%;
  padding-left: 10px;
  color: #ff5454;
  margin: -10px 0 10px;
}

.help-info {
  color: #ff5454;
}

.form-control.is-invalid {
  border-color: #ff5454;
}

.form-control.is-invalid + .input-group-addon {
  border-color: #ff5454;
}

.form-control.is-invalid:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mega-menu {
  cursor: pointer;
}

.password__strength {
  background: transparent;
  transition: all 300ms ease-in-out;
  display: block;
  height: 4px;
  margin: -7px 15px 7px 15px;

  &[data-score="null"]{
    width: 0;
    background: red;
  }

  &[data-score="0"]{
    width: 5%;
    background: $scoreRed;
  }
  &[data-score="1"]{
    width: 25%;
    background: $scoreRed;
  }
  &[data-score="2"]{
    width: 50%;
    background: $scoreYellow;
  }
  &[data-score="3"]{
    width: 75%;
    background: $scoreGreen;
  }
  &[data-score="4"]{
    width: 90%;
    background: $scoreGreen;
  }
}

.card .form-group .help-info {
  margin-top: 0;
}

.theme-black.menu_sm li a.menu-sm {
  color: #e21a3d;
}

.edit-profile {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.zmdi.zmdi-power {
  color: #e21a3d;
}

body .card .header .header-dropdown li .dropdown-menu {
  min-width: 168px;
  border-radius: 10px;
  top: 25px !important;
}

.dropdown-toggle {
  cursor: pointer;
}

.round-img {
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 10px;
}

.m-t-7 {
  margin-top: 7px;
}

.va-m {
  vertical-align: middle;
}

.profile-page .card a:visited,
.user-profile .card a:visited {
  color: #f96332;
}

.badge-success .zmdi-check {
  font-size: 14px;
}
.right_menu .spinner {
  float: right;
  margin: 0;
}

.right_menu .spinner > div {
  width: 10px;
  height: 10px;
}

.min-h-275 {
  min-height: 275px;
}

.profile-page .profile-header {
  margin-bottom: 20px;
}

.custome-profile-page .profile-header .user_pic{
  bottom: auto;
}

.min-h-275 .round-img {
  width: 90px;
  height: 90px !important;
  object-fit: cover;
}

.custome-profile-page .profile-header {
  min-height: 222px;
}

.empty:empty {
  display: none;
}

.custome-zmdi-globe {
  vertical-align: middle;
  margin-right: 7px;
  font-size: 22px;
}

.profile-page .card .btn:visited {
  color: #fff;
}

.custome-badge-danger {
  padding: 10px 15px;
  font-size: 13px;
  margin-right: 15px;
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
}

.custome-badge-danger .zmdi {
  margin-right: 7px;
}

.custome-badge-danger img {
  width: 18px;
  margin-right: 8px;
}

.table-hover {
  border: 0;
}

.table-hover thead {
  background-color: #fff;
}

.table-hover td,
.table-hover th {
  padding: 1.2rem;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.table-hover tr th {
  text-transform: uppercase;
}


.table-hover tr th:nth-child(1) {
  width: 85px;
}

.table-responsive .zmdi-github-alt {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

#leftsidebar {
  overflow: auto;
}


/*scrollbars */

::-webkit-scrollbar {width: 8px;height:8px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 4px rgba(0,0,0,0.15);border-radius: 8px;}
::-webkit-scrollbar-thumb {border-radius: 8px;background:#999;border:2px solid #fff;}
::-webkit-scrollbar-thumb:window-inactive
::-webkit-scrollbar-thumb:window-inactive{background:#999;border:2px solid #fff;}


.custome-date {
  text-align: right;
  color: #313740;
  margin-left: auto;
}

.custome-date .zmdi-time-interval {
  vertical-align: middle;
  margin-right: 7px;
  font-size: 18px;
}


.button_icon,
.like_button_icon,
.dislike_button_icon,
.comment_button_icon {
  cursor: pointer;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: no-repeat 50% / contain;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  background-image: url('../../assets/images/comment.svg');
}

.dislike_button_icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PHRpdGxlPmxpa2VfYWN0aXZlXzI0PC90aXRsZT48cGF0aCBkPSJNMCwwSDI0VjI0SDBaIiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE3LDIuOUE2LjQzLDYuNDMsMCwwLDEsMjMuNCw5LjMzYzAsMy41Ny0xLjQzLDUuMzYtNy40NSwxMGwtMi43OCwyLjE2YTEuOSwxLjksMCwwLDEtMi4zMywwTDguMDUsMTkuMzdDMiwxNC42OS42LDEyLjkuNiw5LjMzQTYuNDMsNi40MywwLDAsMSw3LDIuOSw1LjcsNS43LDAsMCwxLDEyLDYsNS43LDUuNywwLDAsMSwxNywyLjlaIiBmaWxsPSIjMzEzNzQwIi8+PC9zdmc+');
}

.like_button_icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2024%2024"%20height%3D"100%25"%20width%3D"100%25"><title>like_active_24<%2Ftitle><path%20d%3D"M0%2C0H24V24H0Z"%20fill%3D"none"%2F><path%20d%3D"M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9%2C5.7%2C5.7%2C0%2C0%2C1%2C12%2C6%2C5.7%2C5.7%2C0%2C0%2C1%2C17%2C2.9Z"%20fill%3D"%23ff3347"%2F><%2Fsvg>');
}


.button_icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PHRpdGxlPmxpa2Vfb3V0bGluZV8yNDwvdGl0bGU+PHBhdGggZD0iTTAsMEgyNFYyNEgwWiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNywyLjlBNi40Myw2LjQzLDAsMCwxLDIzLjQsOS4zM2MwLDMuNTctMS40Myw1LjM2LTcuNDUsMTBsLTIuNzgsMi4xNmExLjksMS45LDAsMCwxLTIuMzMsMEw4LjA1LDE5LjM3QzIsMTQuNjkuNiwxMi45LjYsOS4zM0E2LjQzLDYuNDMsMCwwLDEsNywyLjlhNi40Niw2LjQ2LDAsMCwxLDUsMi41NEE2LjQ2LDYuNDYsMCwwLDEsMTcsMi45Wk03LDQuN0E0LjYzLDQuNjMsMCwwLDAsMi40LDkuMzNjMCwyLjgyLDEuMTUsNC4yNiw2Ljc2LDguNjNsMi43OCwyLjE2YS4xLjEsMCwwLDAsLjEyLDBMMTQuODQsMThjNS42MS00LjM2LDYuNzYtNS44LDYuNzYtOC42M0E0LjYzLDQuNjMsMCwwLDAsMTcsNC43Yy0xLjU2LDAtMywuODgtNC4yMywyLjczTDEyLDguNWwtLjc0LTEuMDdDMTAsNS41OCw4LjU4LDQuNyw3LDQuN1oiIGZpbGw9IiM4MjhhOTkiLz48L3N2Zz4=');
}

.post-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.like-btn,
.dislike-btn {
  cursor: pointer;
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.like-btn svg,
.dislike-btn svg {
  width: 25px;
  height: 25px;
}

.like-btn-count,
.dislike-btn-count {
  font-size: 15px;
  margin-left: 11px;
}

.post-zmdi-delete {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #e21a3d;
  z-index: 1;
}

.user-post {
  position: relative;
}

.card .own-post {
  border-right: 1px solid #e21a3d;
}

.like-btn.up svg,
.like-btn.up .like-btn-count {
  fill: green;
  color: green;
}

.like-btn.down svg,
.like-btn.down .like-btn-count {
  fill: #e21a3d;
  color: #e21a3d;
}
.user-post-title {
  color: #313740;
  font-weight: bold;
  margin-bottom: 11px;
  font-size: 17px;
}

body.whiteText .sidebar .menu .list a {
  color: #fff;
}

.row-center {
  align-items: center;
}

.input-group-text {
  min-width: 37px;
  display: flex;
  justify-content: center;
}

.profile-page .profile-header .user_pic {
  bottom: auto;
  width: 250px;
  height: 230px;
  object-fit: cover;
}
.profile-header {
  min-height: 222px;
}
.comment {
  position: relative;
}

.modal-content .zmdi-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}


.emoji-mart-search {
  display: none;
}

.form-group .form-control,
.input-group .form-control {
  font-size: 16px;
}

.text-count,
.form-group .help-info {
  text-align: right;
}

.user-social a {
  display: inline-block !important;
  padding: 10px 5px !important;
  color: #fff;
  position: relative;
  line-height: 16px;
}

.user-social a i {
  width: 16px;
  font-size: 16px;
}

.detail h6 {
  margin-top: 15px;
}


.maps-link {
  text-align: right;
}
.maps-link button {
  border: 0;
  border-bottom: 1px dashed darkred;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  padding: 0;
}



@media screen and (max-width: 1200px ) {
  .minileftbar .menu_list li a.bars {
    display: inline-block;
    margin-bottom: 10px;
  }
  section.content {
    margin: 0 0 15px 50px;
  }
  #leftsidebar {
    left: -900px;
  }
  .bars:after, .bars:before {
    font-family: 'Material Icons';
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 12px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .bars:before {
    content: '\E5D2';
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  #leftsidebar.show-mobile {
    left: 40px;
  }
}

li.disabled a {
  padding: 0 5px;
}

.pagination {
  overflow: auto;
  padding-bottom: 15px;
}

.a-button {
  color: #afafaf;
  background: transparent;
  border: 0;
  padding: 5px 20px;
  margin: 0;
  display: block;
  font-size: 18px;
}

body .dropzone {
  background-color: #fff !important;
}

.dropzone > div {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: rgb(102, 102, 102);
    color: #fff;
  }
}

.dropzone-preview {
  margin-top: 0 !important;
}

.profile-page .profile-header .user_pic {
  max-width: 250px;
}

#leftsidebar .open button  {
  padding: 15px;
  background-color: #313740;
  border: 0;
}
.sidebar .menu .list button span {
  margin: 3px 0 0 12px;
}
.theme-black .sidebar .menu .list li.active.open button {
  color: #afafaf;
}

.menu_sm .sidebar .list button span {
  display: none;
}

.round-img {
  width: 90px;
}

.sidebar .user-info .image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.toggleEmogi {
  border: 0;
  background-color: transparent;
  padding-left: 0;
  position: relative;
  z-index: 1;
  transform: translateY(-20px);
  cursor: pointer;
  color: #313740;
}


#leftsidebar {
  transition: left 500ms ease;
}

.toggleEmogi .zmdi-close-circle {
  vertical-align: middle;
  margin-bottom: 5px;
}

.p-b-0 {
  padding-bottom: 0 !important;
}


.gallery_item {
  width: 100%;
  padding: 0 15px;
  time {
    display: block;
    font-size: 17px;
    text-align: center;
    margin: 20px 0;
  }
  .gallery_item_tag {
    margin-bottom: 10px;
    display: block;
  }
  .img-thumbnail {
    width: 100%;
    //height: 100%;
    object-fit: scale-down;
    height: 250px;
    border: 0;
    border-bottom: 1px solid #313740;
    padding: 10px 0;
  }
}

body .swiper-pagination-bullet-active {
  background: #313740;
}

.tag-list .btn {
  margin-right: 10px;
  border: 0 !important;
  color: #fff !important;
}

.swiper-container {
  margin-bottom: 40px;
}

.swiper-slide {
  margin-bottom: 40px;
}

.authentication a:visited {
  color: #f96332;
}

.reset-pass {
  .card-plain {
    max-width: 100%;
  }
}

.my-gallery-class {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}


.image-element-class {
  width: 23%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.image-element-class img {
  display: inline-block;
}

.theme-black.menu_sm .image img {
  width: 50px;
  height: 50px;
}

.gallery-item {
  width: 100%;
}
.gallery-item time {
  width: 100%;
  display: block;
  text-align: center; 
}


.chat-message {
  .input-group-append {
    border: 0;
    padding: 0;
  }
  .input-group-text {
    padding: 1.2rem .75rem;
  }
}

.chat .chat-history .message-data-time {
  padding-right: 6px;
}


.server-error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px ){
  #leftsidebar {
    left: -300px;
  }
  section.content {
    margin-top: 15px;
  }
}

@media screen and (max-width: 400px ){
  .custome-date {
    width: 100%;
  }
  .emoji-mart {
    left: -15px !important;
    width: 270px !important;
    top: 170px !important;
  }
  .form-group .form-control,
  .input-group .form-control {
    font-size: 12px;
  }
  .form-group textarea.form-control,
  .input-group textarea.form-control {
    padding-left: 0;
    padding-right: 0;
  }
}

.btnFacebook {
  display: block;
  width: 100%;
  padding: 17px 0;
  margin: 15px auto;
  border-radius: 2px;
  transition: .3s;
  transition-timing-function: ease;
  position: relative;
  box-shadow: 0 3px 10px transparent;
  text-align: center;
  background-color: #3b5998;
  color: #fff;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: rgba(59,89,152,.65);
    box-shadow: 0 3px 18px rgba(0,0,0,.15);
  }
}


.btnFacebook i {
  width: 9px;
  height: 18px;
  max-width: 28px;
  max-height: 28px;
  fill: #fff;
  position: absolute;
  left: 20px;
  top: 50%;
  transition: .3s;
  transition-timing-function: ease;
  transform: translateY(-50%);
}


.btnGoogle {
  display: block;
  width: 100%;
  padding: 17px 0;
  margin: 15px auto;
  border-radius: 2px;
  transition: .3s;
  transition-timing-function: ease;
  position: relative;
  box-shadow: 0 3px 10px transparent;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #eee;
  margin-top: 0;
  :hover {
    box-shadow: 0 3px 18px rgba(0,0,0,.15);
    background: #f2f2f2;
    div {
      background: #f2f2f2 !important;
    }
  }
    span {
      text-align: center;
      display: block;
      width: 100%;
      padding: 17px 10px !important;
    }
    div {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent !important;
    }
}


//blogArticles

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');

.articles-section {
  text-align: center;
}

.articles-section__title,
.editing-post__title {
  font-size: 80px;
  color: rgba(0,0,0,.2);
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-weight: 100;
  margin: 0;
  text-align: left;
}
.editing-post__form {
  margin-top: -25px;
}

.editing-post__form-title {
  color: #303335;
  font-size: 15px;
  font-weight: bold;
}


.editing-post__form {
  .form-control {
    padding: 12px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
  textarea.form-control {
    border: 1px solid #E3E3E3;
  }
  button {
    display: inline-block;
  }
}

.editing-post__create {
  text-align: right;
}


.article {
  width: 260px;
  height: 320px;
  border-radius: 2px;
  box-shadow: 3px 0 20px rgba(0,0,0,.12);
  display: inline-block;
  background: #fff;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  margin-right: 4%;
  transition: .6s;
  transition-timing-function: ease;
  text-align: left;
}

//.article:nth-of-type(4n+4) {
//  margin-right: 0
//}

.article.loaded {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible
}

.article a {
  cursor: pointer
}

.article-level:hover .article-level__tooltip {
  opacity: 1;
  visibility: visible
}

.article-level__circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  box-shadow: 0 4px 7px rgba(0,0,0,.35);
  z-index: 10
}

.article-level__tooltip {
  position: absolute;
  font-size: 11px;
  padding: 4px 18px 4px 5px;
  font-family: font-xb,helvetica,arial sans-serif;
  border-radius: 2px;
  color: #0b0b0b;
  right: 6px;
  top: 6px;
  z-index: 9;
  background: #fff;
  transition: .3s;
  transition-timing-function: ease;
  opacity: 0;
  visibility: hidden
}

.article-level.jun .article-level__circle {
  background: #60bc5a
}

.article-level.jun .article-level__tooltip span {
  color: #60bc5a
}

.article-level.mid .article-level__circle {
  background: #fbd91c
}

.article-level.mid .article-level__tooltip span {
  color: #fbd91c
}

.article-level.sen .article-level__circle {
  background: #cd1527
}

.article-level.sen .article-level__tooltip span {
  color: #cd1527
}

.article:hover figure {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px)
}

.article:hover .article__info {
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  height: 262px
}

.article:hover .article__meta .meta-comments,.article:hover .article__meta .meta-time,.article:hover .article__meta .meta-views {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.article:hover .article__meta .meta-comments {
  transition-delay: .15s
}

.article:hover .article__meta .meta-time {
  transition-delay: .3s
}

.article figure {
  height: 180px;
  position: relative;
  width: 100%;
  transition: .45s;
  transition-timing-function: ease-out;
  background-color: #eee;
}

.article figure img {
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%) translateZ(0);
  transform: translateY(-50%) translateZ(0)
}

.article__info,.article figure img {
  width: 100%;
  position: absolute;
  left: 0
}

.article__info {
  padding: 10px;
  height: 140px;
  top: 170px;
  overflow: hidden;
  background: #fff;
  transition: .45s;
  transition-timing-function: ease
}

.article__time {
  color: #888;
  font-family: font-l,helvetica,arial sans-serif;
  font-size: 11px;
  margin-bottom: 6px
}

.article__name {
  color: #222;
  line-height: 18px;
  letter-spacing: -.025em;
  font-family: font-xb,helvetica,arial sans-serif;
  font-size: 16px;
  margin-bottom: 28px;
  position: relative;
  min-height: 98px;
  word-wrap: break-word;
  text-transform: capitalize;
}

.article__name:before {
  content: "";
  width: 30px;
  height: 1px;
  background: #c6c6c6;
  position: absolute;
  left: 0;
  top: calc(100% + 10px)
}

.article__lead {
  color: #7d7d7d;
  line-height: 16px;
  font-family: font-l,helvetica,arial sans-serif;
  font-size: 14px;
  max-width: 225px;
  word-wrap: break-word
}

.article__footer {
  position: absolute;
  bottom: 8px;
  padding: 0 10px;
  width: 100%;
  left: 0;
  z-index: 2
}

.article__add-favorite {
  width: 16px;
  height: 16px;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1
}

.article__add-favorite.white svg {
  fill: #fff
}

.article__add-favorite.white:hover svg {
  fill: rgba(219,68,84,.7)
}

.article__add-favorite.white.liked svg {
  fill: #db4454
}

.article__add-favorite:hover svg {
  fill: rgba(219,68,84,.7)
}

.article__add-favorite:active svg {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.article__add-favorite:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: -1;
  -webkit-transform: scale(0);
  transform: scale(0)
}

.article__add-favorite.liked:hover svg {
  opacity: .6
}

.article__add-favorite.liked svg {
  fill: #db4454
}

.article__add-favorite.liked:before {
  transition: opacity .6s,background 0s,-webkit-transform .3s;
  transition: transform .3s,opacity .6s,background 0s;
  transition: transform .3s,opacity .6s,background 0s,-webkit-transform .3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  background: #db4454;
  -webkit-transform: scale(150);
  transform: scale(150);
  opacity: 0;
  pointer-events: none
}

.article__add-favorite svg {
  width: 12px;
  height: 12px;
  fill: #c6c6c6;
  transition: .3s;
  transition-timing-function: ease;
  position: absolute;
  top: 2px;
  left: 2px
}

.article__meta {
  font-size: 0;
  overflow: hidden
}

.article__meta .meta-comments,.article__meta .meta-time,.article__meta .meta-views {
  display: inline-block;
  vertical-align: bottom;
  transition: .3s;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  transition-timing-function: ease
}

.article__meta .meta-comments span,.article__meta .meta-time span,.article__meta .meta-views span {
  color: #7d7d7d;
  font-size: 12px;
  font-family: font-l,helvetica,arial sans-serif;
  transition: .3s
}

.article__meta .meta-comments svg,.article__meta .meta-time svg,.article__meta .meta-views svg {
  margin-right: 6px
}

.article__meta .meta-views {
  margin-right: 20px
}

.article__meta .meta-views svg {
  width: 16px;
  height: 9px;
  fill: #a5a5a5;
  transition: .3s
}

.article__meta .meta-comments {
  margin-right: 20px
}

.article__meta .meta-comments svg {
  margin-bottom: -2px;
  width: 12px;
  height: 12px;
  fill: #a5a5a5;
  transition: .3s
}

.article__meta .meta-comments:hover span {
  color: #303335
}

.article__meta .meta-comments:hover svg {
  fill: #303335
}

.article__meta .meta-time svg {
  width: 10px;
  height: 10px;
  fill: #a5a5a5;
  transition: .3s
}

.article.special-project figure {
  height: 100%
}

.article.special-project .article__info {
  background: transparent;
  top: 10px;
  height: 310px;
  padding-bottom: 0
}

.article.special-project .article__type {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-family: font-l,helvetica,arial sans-serif;
  letter-spacing: .075em;
  text-shadow: 0 1px 7px rgba(0,0,0,.9);
  text-align: center;
  margin-bottom: 40px
}

.article.special-project .article__name {
  line-height: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 15px rgba(0,0,0,.7);
  position: relative
}

.article.special-project .article__name:before {
  width: 50px;
  background: hsla(0,0%,100%,.2);
  top: auto;
  bottom: -25px;
  left: calc(50% - 25px);
  transition: .3s;
  transition-timing-function: ease
}

.article.special-project .article__lead {
  color: #a8aaab;
  text-align: center;
  font-size: 12px;
  font-family: font,helvetica,arial sans-serif
}

.article.special-project .article__footer {
  height: 12px
}

.article.special-project .article__add-favorite svg {
  fill: #fff
}

.article.special-project .article__add-favorite:hover svg {
  opacity: .5
}

.article.special-project .article__add-favorite.liked svg {
  fill: #db4454
}

.article.special-project .article__partner {
  color: #fff;
  font-size: 12px;
  font-family: font-l,helvetica,arial sans-serif;
  position: absolute;
  left: 10px;
  letter-spacing: .05em;
  transition: .3s;
  transition-timing-function: ease
}

.article.special-project .article__partner:hover {
  opacity: .3
}

.article.special-project:hover figure {
  -webkit-transform: none;
  transform: none
}

.article.special-project:hover .article__name:before {
  width: 100px;
  left: calc(50% - 50px)
}

.article.without-image figure {
  display: none
}

.article.without-image .article__info {
  position: static;
  padding-top: 20px;
  height: 290px;
  -webkit-transform: none;
  transform: none
}

.article.without-image .article__name {
  line-height: 30px;
  min-height: 138px
}

.article.without-image .article__name:before {
  display: none
}

.article.without-image .article__time {
  position: absolute;
  top: 150px
}

.article.without-image .article__time:before {
  content: "";
  width: 260px;
  height: 1px;
  background: rgba(0,0,0,.2);
  top: 4px;
  left: 100%;
  position: absolute;
  margin-left: 20px
}

.article.guidammercial figure {
  height: 100%
}

.article.guidammercial:hover figure {
  -webkit-transform: none;
  transform: none
}

.article-set {
  width: 100%;
  padding: 30px 3.22581%;
  height: 300px;
  border-radius: 2px;
  box-shadow: 3px 0 20px rgba(0,0,0,.12);
  display: inline-block;
  background: #000;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: .6s;
  transition-timing-function: ease
}


.article__meta span {
  vertical-align: middle;
}

.btn {
  &.btn-loading {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: #c7cbd2ab;
      cursor: wait;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      margin-left: -12px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: rgba(255, 255, 255, 0.25) 2px solid;
      border-top-color: #fff;
      animation: animation-rotate 750ms linear infinite;
      cursor: wait;
    }
  }
}


@-webkit-keyframes animation-rotate { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes animation-rotate { 100% { -moz-transform: rotate(360deg); } }
@-o-keyframes animation-rotate { 100% { -o-transform: rotate(360deg); } }
@keyframes animation-rotate { 100% { transform: rotate(360deg); } }



.add-task {
  display: inline-block;
  margin-left: 20px;
  .nav-link {
    cursor: pointer;
  }
}


.table-responsive .pagination {
  padding: 20px;
  justify-content: center;
}

.pagination li.disabled {
  display: none;
}

.image-inner {
  position: relative;
  .zmdi-delete {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    color: red;
    transform: scale(0);
    transition: transform 200ms ease-out;
    cursor: pointer;
  }
  &:hover {
    .zmdi-delete {
      transform: scale(1);
    }
  }
}

.prewiev-img-ul {
  padding: 0;
  margin: 20px 0;
}

.photo-img {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  img {
    max-width: 100%;
  }
}

.file {
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}

.file-descr {
  display: flex;
  justify-content: space-between;
  color: #6c757d;
  font-size: 14px;
}



/*!
 * FullCalendar v3.9.0
 * Docs & License: https://fullcalendar.io/
 * (c) 2018 Adam Shaw
 */.fc button,.fc table,body .fc{font-size:1em}.fc-bg,.fc-row .fc-bgevent-skeleton,.fc-row .fc-highlight-skeleton{bottom:0}.fc-icon,.fc-unselectable{-webkit-touch-callout:none;-khtml-user-select:none}.fc{direction:ltr;text-align:left}.fc-rtl{text-align:right}.fc th,.fc-basic-view td.fc-week-number,.fc-icon,.fc-toolbar{text-align:center}.fc-highlight{background:#bce8f1;opacity:.3}.fc-bgevent{background:#8fdf82;opacity:.3}.fc-nonbusiness{background:#d7d7d7}.fc button{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;height:2.1em;padding:0 .6em;white-space:nowrap;cursor:pointer}.fc button::-moz-focus-inner{margin:0;padding:0}.fc-state-default{border:1px solid;background-color:#f5f5f5;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);color:#333;text-shadow:0 1px 1px rgba(255,255,255,.75);box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05)}.fc-state-default.fc-corner-left{border-top-left-radius:4px;border-bottom-left-radius:4px}.fc-state-default.fc-corner-right{border-top-right-radius:4px;border-bottom-right-radius:4px}.fc button .fc-icon{position:relative;top:-.05em;margin:0 .2em;vertical-align:middle}.fc-state-active,.fc-state-disabled,.fc-state-down,.fc-state-hover{color:#333;background-color:#e6e6e6}.fc-state-hover{color:#333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}.fc-state-active,.fc-state-down{background-color:#ccc;background-image:none;box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)}.fc-state-disabled{cursor:default;background-image:none;opacity:.65;box-shadow:none}.fc-event.fc-draggable,.fc-event[href],.fc-popover .fc-header .fc-close,a[data-goto]{cursor:pointer}.fc-button-group{display:inline-block}.fc .fc-button-group>*{float:left;margin:0 0 0 -1px}.fc .fc-button-group>:first-child{margin-left:0}.fc-popover{position:absolute;box-shadow:0 2px 6px rgba(0,0,0,.15)}.fc-popover .fc-header{padding:2px 4px}.fc-popover .fc-header .fc-title{margin:0 2px}.fc-ltr .fc-popover .fc-header .fc-title,.fc-rtl .fc-popover .fc-header .fc-close{float:left}.fc-ltr .fc-popover .fc-header .fc-close,.fc-rtl .fc-popover .fc-header .fc-title{float:right}.fc-divider{border-style:solid;border-width:1px}hr.fc-divider{height:0;margin:0;padding:0 0 2px;border-width:1px 0}.fc-bg table,.fc-row .fc-bgevent-skeleton table,.fc-row .fc-highlight-skeleton table{height:100%}.fc-clear{clear:both}.fc-bg,.fc-bgevent-skeleton,.fc-helper-skeleton,.fc-highlight-skeleton{position:absolute;top:0;left:0;right:0}.fc table{width:100%;box-sizing:border-box;table-layout:fixed;border-collapse:collapse;border-spacing:0}.fc td,.fc th{border-style:solid;border-width:1px;padding:0;vertical-align:top}.fc td.fc-today{border-style:double}a[data-goto]:hover{text-decoration:underline}.fc .fc-row{border-style:solid;border-width:0}.fc-row table{border-left:0 hidden transparent;border-right:0 hidden transparent;border-bottom:0 hidden transparent}.fc-row:first-child table{border-top:0 hidden transparent}.fc-row{position:relative}.fc-row .fc-bg{z-index:1}.fc-row .fc-bgevent-skeleton td,.fc-row .fc-highlight-skeleton td{border-color:transparent}.fc-row .fc-bgevent-skeleton{z-index:2}.fc-row .fc-highlight-skeleton{z-index:3}.fc-row .fc-content-skeleton{position:relative;z-index:4;padding-bottom:2px}.fc-row .fc-helper-skeleton{z-index:5}.fc .fc-row .fc-content-skeleton table,.fc .fc-row .fc-content-skeleton td,.fc .fc-row .fc-helper-skeleton td{background:0 0;border-color:transparent}.fc-row .fc-content-skeleton td,.fc-row .fc-helper-skeleton td{border-bottom:0}.fc-row .fc-content-skeleton tbody td,.fc-row .fc-helper-skeleton tbody td{border-top:0}.fc-scroller{-webkit-overflow-scrolling:touch}.fc-icon,.fc-row.fc-rigid,.fc-time-grid-event{overflow:hidden}.fc-scroller>.fc-day-grid,.fc-scroller>.fc-time-grid{position:relative;width:100%}.fc-event{position:relative;display:block;font-size:.85em;line-height:1.3;border-radius:3px;border:1px solid #3a87ad}.fc-event,.fc-event-dot{background-color:#3a87ad}.fc-event,.fc-event:hover{color:#fff;text-decoration:none}.fc-not-allowed,.fc-not-allowed .fc-event{cursor:not-allowed}.fc-event .fc-bg{z-index:1;background:#fff;opacity:.25}.fc-event .fc-content{position:relative;z-index:2}.fc-event .fc-resizer{position:absolute;z-index:4;display:none}.fc-event.fc-allow-mouse-resize .fc-resizer,.fc-event.fc-selected .fc-resizer{display:block}.fc-event.fc-selected .fc-resizer:before{content:"";position:absolute;z-index:9999;top:50%;left:50%;width:40px;height:40px;margin-left:-20px;margin-top:-20px}.fc-event.fc-selected{z-index:9999!important;box-shadow:0 2px 5px rgba(0,0,0,.2)}.fc-event.fc-selected.fc-dragging{box-shadow:0 2px 7px rgba(0,0,0,.3)}.fc-h-event.fc-selected:before{content:"";position:absolute;z-index:3;top:-10px;bottom:-10px;left:0;right:0}.fc-ltr .fc-h-event.fc-not-start,.fc-rtl .fc-h-event.fc-not-end{margin-left:0;border-left-width:0;padding-left:1px;border-top-left-radius:0;border-bottom-left-radius:0}.fc-ltr .fc-h-event.fc-not-end,.fc-rtl .fc-h-event.fc-not-start{margin-right:0;border-right-width:0;padding-right:1px;border-top-right-radius:0;border-bottom-right-radius:0}.fc-ltr .fc-h-event .fc-start-resizer,.fc-rtl .fc-h-event .fc-end-resizer{cursor:w-resize;left:-1px}.fc-ltr .fc-h-event .fc-end-resizer,.fc-rtl .fc-h-event .fc-start-resizer{cursor:e-resize;right:-1px}.fc-h-event.fc-allow-mouse-resize .fc-resizer{width:7px;top:-1px;bottom:-1px}.fc-h-event.fc-selected .fc-resizer{border-radius:4px;border-width:1px;width:6px;height:6px;border-style:solid;border-color:inherit;background:#fff;top:50%;margin-top:-4px}.fc-ltr .fc-h-event.fc-selected .fc-start-resizer,.fc-rtl .fc-h-event.fc-selected .fc-end-resizer{margin-left:-4px}.fc-ltr .fc-h-event.fc-selected .fc-end-resizer,.fc-rtl .fc-h-event.fc-selected .fc-start-resizer{margin-right:-4px}.fc-day-grid-event{margin:1px 5px 0;padding:0 1px}tr:first-child>td>.fc-day-grid-event{margin-top:2px}.fc-day-grid-event.fc-selected:after{content:"";position:absolute;z-index:1;top:-1px;right:-1px;bottom:-1px;left:-1px;background:#000;opacity:.25}.fc-day-grid-event .fc-content{white-space:nowrap;overflow:hidden}.fc-day-grid-event .fc-time{font-weight:700}.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer,.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer{margin-left:-2px}.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer,.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer{margin-right:-2px}a.fc-more{margin:1px 3px;font-size:.85em;cursor:pointer;text-decoration:none}a.fc-more:hover{text-decoration:underline}.fc.fc-bootstrap3 a,.ui-widget .fc-event{text-decoration:none}.fc-limited{display:none}.fc-icon,.fc-toolbar .fc-center{display:inline-block}.fc-day-grid .fc-row{z-index:1}.fc-more-popover{z-index:2;width:220px}.fc-more-popover .fc-event-container{padding:10px}.fc-bootstrap3 .fc-popover .panel-body,.fc-bootstrap4 .fc-popover .card-body{padding:0}.fc-now-indicator{position:absolute;border:0 solid red}.fc-bootstrap3 .fc-today.alert,.fc-bootstrap4 .fc-today.alert{border-radius:0}.fc-unselectable{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}.fc-unthemed .fc-content,.fc-unthemed .fc-divider,.fc-unthemed .fc-list-heading td,.fc-unthemed .fc-list-view,.fc-unthemed .fc-popover,.fc-unthemed .fc-row,.fc-unthemed tbody,.fc-unthemed td,.fc-unthemed th,.fc-unthemed thead{border-color:#ddd}.fc-unthemed .fc-popover{background-color:#fff;border-width:1px;border-style:solid}.fc-unthemed .fc-divider,.fc-unthemed .fc-list-heading td,.fc-unthemed .fc-popover .fc-header{background:#eee}.fc-unthemed td.fc-today{background:#fcf8e3}.fc-unthemed .fc-disabled-day{background:#d7d7d7;opacity:.3}.fc-icon{height:1em;line-height:1em;font-size:1em;font-family:"Courier New",Courier,monospace;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fc-icon:after{position:relative}.fc-icon-left-single-arrow:after{content:"\2039";font-weight:700;font-size:200%;top:-7%}.fc-icon-right-single-arrow:after{content:"\203A";font-weight:700;font-size:200%;top:-7%}.fc-icon-left-double-arrow:after{content:"\AB";font-size:160%;top:-7%}.fc-icon-right-double-arrow:after{content:"\BB";font-size:160%;top:-7%}.fc-icon-left-triangle:after{content:"\25C4";font-size:125%;top:3%}.fc-icon-right-triangle:after{content:"\25BA";font-size:125%;top:3%}.fc-icon-down-triangle:after{content:"\25BC";font-size:125%;top:2%}.fc-icon-x:after{content:"\D7";font-size:200%;top:6%}.fc-unthemed .fc-popover .fc-header .fc-close{color:#666;font-size:.9em;margin-top:2px}.fc-unthemed .fc-list-item:hover td{background-color:#f5f5f5}.ui-widget .fc-disabled-day{background-image:none}.fc-bootstrap3 .fc-time-grid .fc-slats table,.fc-bootstrap4 .fc-time-grid .fc-slats table,.fc-time-grid .fc-slats .ui-widget-content{background:0 0}.fc-popover>.ui-widget-header+.ui-widget-content{border-top:0}.fc-bootstrap3 hr.fc-divider,.fc-bootstrap4 hr.fc-divider{border-color:inherit}.ui-widget .fc-event{color:#fff;font-weight:400}.ui-widget td.fc-axis{font-weight:400}.fc.fc-bootstrap3 a[data-goto]:hover{text-decoration:underline}.fc.fc-bootstrap4 a{text-decoration:none}.fc.fc-bootstrap4 a[data-goto]:hover{text-decoration:underline}.fc-bootstrap4 a.fc-event:not([href]):not([tabindex]){color:#fff}.fc-bootstrap4 .fc-popover.card{position:absolute}.fc-toolbar.fc-header-toolbar{margin-bottom:1em}.fc-toolbar.fc-footer-toolbar{margin-top:1em}.fc-toolbar .fc-left{float:left}.fc-toolbar .fc-right{float:right}.fc .fc-toolbar>*>*{float:left;margin-left:.75em}.fc .fc-toolbar>*>:first-child{margin-left:0}.fc-toolbar h2{margin:0}.fc-toolbar button{position:relative}.fc-toolbar .fc-state-hover,.fc-toolbar .ui-state-hover{z-index:2}.fc-toolbar .fc-state-down{z-index:3}.fc-toolbar .fc-state-active,.fc-toolbar .ui-state-active{z-index:4}.fc-toolbar button:focus{z-index:5}.fc-view-container *,.fc-view-container :after,.fc-view-container :before{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.fc-view,.fc-view>table{position:relative;z-index:1}.fc-basicDay-view .fc-content-skeleton,.fc-basicWeek-view .fc-content-skeleton{padding-bottom:1em}.fc-basic-view .fc-body .fc-row{min-height:4em}.fc-row.fc-rigid .fc-content-skeleton{position:absolute;top:0;left:0;right:0}.fc-day-top.fc-other-month{opacity:.3}.fc-basic-view .fc-day-number,.fc-basic-view .fc-week-number{padding:5px}.fc-basic-view th.fc-day-number,.fc-basic-view th.fc-week-number{padding:0 2px}.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{float:right}.fc-rtl .fc-basic-view .fc-day-top .fc-day-number{float:left}.fc-ltr .fc-basic-view .fc-day-top .fc-week-number{float:left;border-radius:0 0 3px}.fc-rtl .fc-basic-view .fc-day-top .fc-week-number{float:right;border-radius:0 0 0 3px}.fc-basic-view .fc-day-top .fc-week-number{min-width:1.5em;text-align:center;background-color:#f2f2f2;color:grey}.fc-basic-view td.fc-week-number>*{display:inline-block;min-width:1.25em}.fc-agenda-view .fc-day-grid{position:relative;z-index:2}.fc-agenda-view .fc-day-grid .fc-row{min-height:3em}.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton{padding-bottom:1em}.fc .fc-axis{vertical-align:middle;padding:0 4px;white-space:nowrap}.fc-ltr .fc-axis{text-align:right}.fc-rtl .fc-axis{text-align:left}.fc-time-grid,.fc-time-grid-container{position:relative;z-index:1}.fc-time-grid{min-height:100%}.fc-time-grid table{border:0 hidden transparent}.fc-time-grid>.fc-bg{z-index:1}.fc-time-grid .fc-slats,.fc-time-grid>hr{position:relative;z-index:2}.fc-time-grid .fc-content-col{position:relative}.fc-time-grid .fc-content-skeleton{position:absolute;z-index:3;top:0;left:0;right:0}.fc-time-grid .fc-business-container{position:relative;z-index:1}.fc-time-grid .fc-bgevent-container{position:relative;z-index:2}.fc-time-grid .fc-highlight-container{z-index:3;position:relative}.fc-time-grid .fc-event-container{position:relative;z-index:4}.fc-time-grid .fc-now-indicator-line{z-index:5}.fc-time-grid .fc-helper-container{position:relative;z-index:6}.fc-time-grid .fc-slats td{height:1.5em;border-bottom:0}.fc-time-grid .fc-slats .fc-minor td{border-top-style:dotted}.fc-time-grid .fc-highlight{position:absolute;left:0;right:0}.fc-ltr .fc-time-grid .fc-event-container{margin:0 2.5% 0 2px}.fc-rtl .fc-time-grid .fc-event-container{margin:0 2px 0 2.5%}.fc-time-grid .fc-bgevent,.fc-time-grid .fc-event{position:absolute;z-index:1}.fc-time-grid .fc-bgevent{left:0;right:0}.fc-v-event.fc-not-start{border-top-width:0;padding-top:1px;border-top-left-radius:0;border-top-right-radius:0}.fc-v-event.fc-not-end{border-bottom-width:0;padding-bottom:1px;border-bottom-left-radius:0;border-bottom-right-radius:0}.fc-time-grid-event.fc-selected{overflow:visible}.fc-time-grid-event.fc-selected .fc-bg{display:none}.fc-time-grid-event .fc-content{overflow:hidden}.fc-time-grid-event .fc-time,.fc-time-grid-event .fc-title{padding:0 1px}.fc-time-grid-event .fc-time{font-size:.85em;white-space:nowrap}.fc-time-grid-event.fc-short .fc-content{white-space:nowrap}.fc-time-grid-event.fc-short .fc-time,.fc-time-grid-event.fc-short .fc-title{display:inline-block;vertical-align:top}.fc-time-grid-event.fc-short .fc-time span{display:none}.fc-time-grid-event.fc-short .fc-time:before{content:attr(data-start)}.fc-time-grid-event.fc-short .fc-time:after{content:"\A0-\A0"}.fc-time-grid-event.fc-short .fc-title{font-size:.85em;padding:0}.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer{left:0;right:0;bottom:0;height:8px;overflow:hidden;line-height:8px;font-size:11px;font-family:monospace;text-align:center;cursor:s-resize}.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after{content:"="}.fc-time-grid-event.fc-selected .fc-resizer{border-radius:5px;border-width:1px;width:8px;height:8px;border-style:solid;border-color:inherit;background:#fff;left:50%;margin-left:-5px;bottom:-5px}.fc-time-grid .fc-now-indicator-line{border-top-width:1px;left:0;right:0}.fc-time-grid .fc-now-indicator-arrow{margin-top:-5px}.fc-ltr .fc-time-grid .fc-now-indicator-arrow{left:0;border-width:5px 0 5px 6px;border-top-color:transparent;border-bottom-color:transparent}.fc-rtl .fc-time-grid .fc-now-indicator-arrow{right:0;border-width:5px 6px 5px 0;border-top-color:transparent;border-bottom-color:transparent}.fc-event-dot{display:inline-block;width:10px;height:10px;border-radius:5px}.fc-rtl .fc-list-view{direction:rtl}.fc-list-view{border-width:1px;border-style:solid}.fc .fc-list-table{table-layout:auto}.fc-list-table td{border-width:1px 0 0;padding:8px 14px}.fc-list-table tr:first-child td{border-top-width:0}.fc-list-heading{border-bottom-width:1px}.fc-list-heading td{font-weight:700}.fc-ltr .fc-list-heading-main{float:left}.fc-ltr .fc-list-heading-alt,.fc-rtl .fc-list-heading-main{float:right}.fc-rtl .fc-list-heading-alt{float:left}.fc-list-item.fc-has-url{cursor:pointer}.fc-list-item-marker,.fc-list-item-time{white-space:nowrap;width:1px}.fc-ltr .fc-list-item-marker{padding-right:0}.fc-rtl .fc-list-item-marker{padding-left:0}.fc-list-item-title a{text-decoration:none;color:inherit}.fc-list-item-title a[href]:hover{text-decoration:underline}.fc-list-empty-wrap2{position:absolute;top:0;left:0;right:0;bottom:0}.fc-list-empty-wrap1{width:100%;height:100%;display:table}.fc-list-empty{display:table-cell;vertical-align:middle;text-align:center}.fc-unthemed .fc-list-empty{background-color:#eee}


.fc table {
  margin: 0;
  border: 0;
}

.fc thead {
  background-color: transparent;
}

.fc-day-header span {
  text-transform: capitalize;
}

.vp-day__past {
  background-color: #e3e3e3;
  color: #9a9a9e;
}

.vp-day {
  text-align: right;
  cursor: pointer;
  &:hover {
    background-color: #f6fffd;
  }
  &.selected {
    background-color: #cfd8dc;
  }
}

.fc .vp-day {
  padding: 10px;
}

.vp-day.today {
  background-color: #313740;
  color: #fff;
}

.fc .fc-view-container .fc-view.fc-basic-view .fc-body .fc-row .fc-bg {
  border: 0;
}

.add-event {

  .zmdi-close-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #313740;
  }
  label {
    margin-bottom: 20px;
  }
  textarea {
    min-height: 150px;
    border-color: #ccc;
  }
  textarea,
  label,
  input {
    width: 100%;

  }
}

.add-event h2 {
  font-size: 17px;
}


.fixed-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}

body .jodit_statusbar,
body .jodit_toolbar {
  background-color: #fff;
}