$accent: #00BCD4;
$primary: #212121;
$secondary: #727272;

$scoreRed: #F44336;
$scoreYellow: #FFEB3B;
$scoreGreen: #4CAF50;

.container-fluid {
  overflow: hidden;
}

.user-info {
  img {
    display: inline;
  }
}

a:visited {
  color: #fff;
}
.user-post a:visited {
  color: #609;
}

.authentication::before {
  opacity: 0.91;
  background: #313740;
}

.breadcrumb-item .zmdi-home {
  color: #313740;
}

.register_link {
  color: #f96332 !important;
}


.form-group .help-info {
  text-align: left;
  display: block;
  width: 100%;
  padding-left: 10px;
  color: #ff5454;
  margin: -10px 0 10px;
}

.help-info {
  color: #ff5454;
}

.form-control.is-invalid {
  border-color: #ff5454;
}

.form-control.is-invalid + .input-group-addon {
  border-color: #ff5454;
}

.form-control.is-invalid:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mega-menu {
  cursor: pointer;
}

.password__strength {
  background: transparent;
  transition: all 300ms ease-in-out;
  display: block;
  height: 4px;
  margin: -7px 15px 7px 15px;

  &[data-score="null"]{
    width: 0;
    background: red;
  }

  &[data-score="0"]{
    width: 5%;
    background: $scoreRed;
  }
  &[data-score="1"]{
    width: 25%;
    background: $scoreRed;
  }
  &[data-score="2"]{
    width: 50%;
    background: $scoreYellow;
  }
  &[data-score="3"]{
    width: 75%;
    background: $scoreGreen;
  }
  &[data-score="4"]{
    width: 90%;
    background: $scoreGreen;
  }
}

.card .form-group .help-info {
  margin-top: 0;
}

.theme-black.menu_sm li a.menu-sm {
  color: #e21a3d;
}

.edit-profile {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.zmdi.zmdi-power {
  color: #e21a3d;
}

body .card .header .header-dropdown li .dropdown-menu {
  min-width: 168px;
  border-radius: 10px;
  top: 25px !important;
}

.dropdown-toggle {
  cursor: pointer;
}

.round-img {
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 10px;
}

.m-t-7 {
  margin-top: 7px;
}

.va-m {
  vertical-align: middle;
}

.profile-page .card a:visited,
.user-profile .card a:visited {
  color: #f96332;
}

.badge-success .zmdi-check {
  font-size: 14px;
}
.right_menu .spinner {
  float: right;
  margin: 0;
}

.right_menu .spinner > div {
  width: 10px;
  height: 10px;
}

.min-h-275 {
  min-height: 275px;
}

.profile-page .profile-header {
  margin-bottom: 20px;
}

.custome-profile-page .profile-header .user_pic{
  bottom: auto;
}

.min-h-275 .round-img {
  width: 90px;
  height: 90px !important;
  object-fit: cover;
}

.custome-profile-page .profile-header {
  min-height: 222px;
}

.empty:empty {
  display: none;
}

.custome-zmdi-globe {
  vertical-align: middle;
  margin-right: 7px;
  font-size: 22px;
}

.profile-page .card .btn:visited {
  color: #fff;
}

.custome-badge-danger {
  padding: 10px 15px;
  font-size: 13px;
  margin-right: 15px;
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
}

.custome-badge-danger .zmdi {
  margin-right: 7px;
}

.custome-badge-danger img {
  width: 18px;
  margin-right: 8px;
}

.table-hover {
  border: 0;
}

.table-hover thead {
  background-color: #fff;
}

.table-hover td,
.table-hover th {
  padding: 1.2rem;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.table-hover tr th {
  text-transform: uppercase;
}


.table-hover tr th:nth-child(1) {
  width: 85px;
}

.table-responsive .zmdi-github-alt {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

#leftsidebar {
  overflow: auto;
}


/*scrollbars */
#leftsidebar::-webkit-scrollbar, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar{width: 8px;height:8px;}
#leftsidebar::-webkit-scrollbar-track, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar-track{box-shadow: inset 0 0 4px rgba(0,0,0,0.15);border-radius: 8px;}
#leftsidebar::-webkit-scrollbar-thumb, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar-thumb{border-radius: 8px;background:#999;border:2px solid #fff;}
#leftsidebar::-webkit-scrollbar-thumb:window-inactive, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar-thumb:window-inactive{background:#999;border:2px solid #fff;}


/*scrollbars */
.emoji-mart-scroll::-webkit-scrollbar, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar{width: 8px;height:8px;}
.emoji-mart-scroll::-webkit-scrollbar-track, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar-track{box-shadow: inset 0 0 4px rgba(0,0,0,0.15);border-radius: 8px;}
.emoji-mart-scroll::-webkit-scrollbar-thumb, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar-thumb{border-radius: 8px;background:#999;border:2px solid #fff;}
.emoji-mart-scroll::-webkit-scrollbar-thumb:window-inactive, .catalog_table_21 .item .props_wrapper .props_inner::-webkit-scrollbar-thumb:window-inactive{background:#999;border:2px solid #fff;}



.custome-date {
  text-align: right;
  color: #313740;
  margin-left: auto;
}

.custome-date .zmdi-time-interval {
  vertical-align: middle;
  margin-right: 7px;
  font-size: 18px;
}


.button_icon,
.like_button_icon,
.dislike_button_icon,
.comment_button_icon {
  cursor: pointer;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: no-repeat 50% / contain;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  background-image: url('../../assets/images/comment.svg');
}

.dislike_button_icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PHRpdGxlPmxpa2VfYWN0aXZlXzI0PC90aXRsZT48cGF0aCBkPSJNMCwwSDI0VjI0SDBaIiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE3LDIuOUE2LjQzLDYuNDMsMCwwLDEsMjMuNCw5LjMzYzAsMy41Ny0xLjQzLDUuMzYtNy40NSwxMGwtMi43OCwyLjE2YTEuOSwxLjksMCwwLDEtMi4zMywwTDguMDUsMTkuMzdDMiwxNC42OS42LDEyLjkuNiw5LjMzQTYuNDMsNi40MywwLDAsMSw3LDIuOSw1LjcsNS43LDAsMCwxLDEyLDYsNS43LDUuNywwLDAsMSwxNywyLjlaIiBmaWxsPSIjMzEzNzQwIi8+PC9zdmc+');
}

.like_button_icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2024%2024"%20height%3D"100%25"%20width%3D"100%25"><title>like_active_24<%2Ftitle><path%20d%3D"M0%2C0H24V24H0Z"%20fill%3D"none"%2F><path%20d%3D"M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9%2C5.7%2C5.7%2C0%2C0%2C1%2C12%2C6%2C5.7%2C5.7%2C0%2C0%2C1%2C17%2C2.9Z"%20fill%3D"%23ff3347"%2F><%2Fsvg>');
}


.button_icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PHRpdGxlPmxpa2Vfb3V0bGluZV8yNDwvdGl0bGU+PHBhdGggZD0iTTAsMEgyNFYyNEgwWiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNywyLjlBNi40Myw2LjQzLDAsMCwxLDIzLjQsOS4zM2MwLDMuNTctMS40Myw1LjM2LTcuNDUsMTBsLTIuNzgsMi4xNmExLjksMS45LDAsMCwxLTIuMzMsMEw4LjA1LDE5LjM3QzIsMTQuNjkuNiwxMi45LjYsOS4zM0E2LjQzLDYuNDMsMCwwLDEsNywyLjlhNi40Niw2LjQ2LDAsMCwxLDUsMi41NEE2LjQ2LDYuNDYsMCwwLDEsMTcsMi45Wk03LDQuN0E0LjYzLDQuNjMsMCwwLDAsMi40LDkuMzNjMCwyLjgyLDEuMTUsNC4yNiw2Ljc2LDguNjNsMi43OCwyLjE2YS4xLjEsMCwwLDAsLjEyLDBMMTQuODQsMThjNS42MS00LjM2LDYuNzYtNS44LDYuNzYtOC42M0E0LjYzLDQuNjMsMCwwLDAsMTcsNC43Yy0xLjU2LDAtMywuODgtNC4yMywyLjczTDEyLDguNWwtLjc0LTEuMDdDMTAsNS41OCw4LjU4LDQuNyw3LDQuN1oiIGZpbGw9IiM4MjhhOTkiLz48L3N2Zz4=');
}

.post-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.like-btn,
.dislike-btn {
  cursor: pointer;
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.like-btn svg,
.dislike-btn svg {
  width: 25px;
  height: 25px;
}

.like-btn-count,
.dislike-btn-count {
  font-size: 15px;
  margin-left: 11px;
}

.post-zmdi-delete {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #e21a3d;
  z-index: 1;
}

.user-post {
  position: relative;
}

.card .own-post {
  border-right: 1px solid #e21a3d;
}

.like-btn.up svg,
.like-btn.up .like-btn-count {
  fill: green;
  color: green;
}

.like-btn.down svg,
.like-btn.down .like-btn-count {
  fill: #e21a3d;
  color: #e21a3d;
}
.user-post-title {
  color: #313740;
  font-weight: bold;
  margin-bottom: 11px;
  font-size: 17px;
}

body.whiteText .sidebar .menu .list a {
  color: #fff;
}

.row-center {
  align-items: center;
}

.input-group-text {
  min-width: 37px;
  display: flex;
  justify-content: center;
}

.profile-page .profile-header .user_pic {
  bottom: auto;
  width: 250px;
  height: 230px;
  object-fit: cover;
}
.profile-header {
  min-height: 222px;
}
.comment {
  position: relative;
}

.modal-content .zmdi-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}


.emoji-mart-search {
  display: none;
}

.form-group .form-control,
.input-group .form-control {
  font-size: 16px;
}

.text-count,
.form-group .help-info {
  text-align: right;
}

.user-social a {
  display: inline-block !important;
  padding: 10px 5px !important;
  color: #fff;
  position: relative;
  line-height: 16px;
}

.user-social a i {
  width: 16px;
  font-size: 16px;
}

.detail h6 {
  margin-top: 15px;
}


.maps-link {
  text-align: right;
}
.maps-link button {
  border: 0;
  border-bottom: 1px dashed darkred;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  padding: 0;
}



@media screen and (max-width: 1200px ) {
  .minileftbar .menu_list li a.bars {
    display: inline-block;
    margin-bottom: 10px;
  }
  section.content {
    margin: 0 0 15px 50px;
  }
  #leftsidebar {
    left: -900px;
  }
  .bars:after, .bars:before {
    font-family: 'Material Icons';
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 12px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .bars:before {
    content: '\E5D2';
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  #leftsidebar.show-mobile {
    left: 40px;
  }
}

li.disabled a {
  padding: 0 5px;
}

.pagination {
  overflow: auto;
  padding-bottom: 15px;
}

.a-button {
  color: #afafaf;
  background: transparent;
  border: 0;
  padding: 5px 20px;
  margin: 0;
  display: block;
  font-size: 18px;
}

body .dropzone {
  background-color: #fff !important;
}

.dropzone > div {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: rgb(102, 102, 102);
    color: #fff;
  }
}

.dropzone-preview {
  margin-top: 0 !important;
}

.profile-page .profile-header .user_pic {
  max-width: 250px;
}

#leftsidebar .open button  {
  padding: 15px;
  background-color: #313740;
  border: 0;
}
.sidebar .menu .list button span {
  margin: 3px 0 0 12px;
}
.theme-black .sidebar .menu .list li.active.open button {
  color: #afafaf;
}

.menu_sm .sidebar .list button span {
  display: none;
}

.round-img {
  width: 90px;
}

.sidebar .user-info .image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.toggleEmogi {
  border: 0;
  background-color: transparent;
  padding-left: 0;
  position: relative;
  z-index: 1;
  transform: translateY(-20px);
  cursor: pointer;
  color: #313740;
}


#leftsidebar {
  transition: left 500ms ease;
}

.toggleEmogi .zmdi-close-circle {
  vertical-align: middle;
  margin-bottom: 5px;
}

.p-b-0 {
  padding-bottom: 0 !important;
}


.gallery_item {
  width: 100%;
  padding: 0 15px;
  time {
    display: block;
    font-size: 17px;
    text-align: center;
    margin: 20px 0;
  }
  .gallery_item_tag {
    margin-bottom: 10px;
    display: block;
  }
  .img-thumbnail {
    width: 100%;
    //height: 100%;
    object-fit: scale-down;
    height: 250px;
    border: 0;
    border-bottom: 1px solid #313740;
    padding: 10px 0;
  }
}

body .swiper-pagination-bullet-active {
  background: #313740;
}

.tag-list .btn {
  margin-right: 10px;
  border: 0 !important;
  color: #fff !important;
}

.swiper-container {
  margin-bottom: 40px;
}

.swiper-slide {
  margin-bottom: 40px;
}

.authentication a:visited {
  color: #f96332;
}

.reset-pass {
  .card-plain {
    max-width: 100%;
  }
}

.my-gallery-class {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}


.image-element-class {
  width: 23%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.image-element-class img {
  display: inline-block;
}

.theme-black.menu_sm .image img {
  width: 50px;
  height: 50px;
}

.gallery-item {
  width: 100%;
}
.gallery-item time {
  width: 100%;
  display: block;
  text-align: center; 
}


.chat-message {
  .input-group-append {
    border: 0;
    padding: 0;
  }
  .input-group-text {
    padding: 1.2rem .75rem;
  }
}

.chat .chat-history .message-data-time {
  padding-right: 6px;
}


.server-error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px ){
  #leftsidebar {
    left: -300px;
  }
  section.content {
    margin-top: 15px;
  }
}

@media screen and (max-width: 400px ){
  .custome-date {
    width: 100%;
  }
  .emoji-mart {
    left: -15px !important;
    width: 270px !important;
    top: 170px !important;
  }
  .form-group .form-control,
  .input-group .form-control {
    font-size: 12px;
  }
  .form-group textarea.form-control,
  .input-group textarea.form-control {
    padding-left: 0;
    padding-right: 0;
  }
}

.btnFacebook {
  display: block;
  width: 100%;
  padding: 17px 0;
  margin: 15px auto;
  border-radius: 2px;
  transition: .3s;
  transition-timing-function: ease;
  position: relative;
  box-shadow: 0 3px 10px transparent;
  text-align: center;
  background-color: #3b5998;
  color: #fff;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: rgba(59,89,152,.65);
    box-shadow: 0 3px 18px rgba(0,0,0,.15);
  }
}


.btnFacebook i {
  width: 9px;
  height: 18px;
  max-width: 28px;
  max-height: 28px;
  fill: #fff;
  position: absolute;
  left: 20px;
  top: 50%;
  transition: .3s;
  transition-timing-function: ease;
  transform: translateY(-50%);
}


.btnGoogle {
  display: block;
  width: 100%;
  padding: 17px 0;
  margin: 15px auto;
  border-radius: 2px;
  transition: .3s;
  transition-timing-function: ease;
  position: relative;
  box-shadow: 0 3px 10px transparent;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #eee;
  margin-top: 0;
  :hover {
    box-shadow: 0 3px 18px rgba(0,0,0,.15);
    background: #f2f2f2;
    div {
      background: #f2f2f2 !important;
    }
  }
    span {
      text-align: center;
      display: block;
      width: 100%;
      padding: 17px 10px !important;
    }
    div {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent !important;
    }
}


//blogArticles

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');

.articles-section__title,
.editing-post__title {
  font-size: 80px;
  color: rgba(0,0,0,.2);
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-weight: 100;
  margin: 0;
}
.editing-post__form {
  margin-top: -25px;
}

.editing-post__form-title {
  color: #303335;
  font-size: 15px;
  font-weight: bold;
}


.editing-post__form {
  .form-control {
    padding: 12px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
  textarea.form-control {
    border: 1px solid #E3E3E3;
  }
  button {
    display: inline-block;
  }
}

.editing-post__create {
  text-align: right;
}


.article {
  width: 260px;
  height: 320px;
  border-radius: 2px;
  box-shadow: 3px 0 20px rgba(0,0,0,.12);
  display: inline-block;
  background: #fff;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  margin-right: 4%;
  transition: .6s;
  transition-timing-function: ease;
  text-align: left;
}

//.article:nth-of-type(4n+4) {
//  margin-right: 0
//}

.article.loaded {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible
}

.article a {
  cursor: pointer
}

.article-level:hover .article-level__tooltip {
  opacity: 1;
  visibility: visible
}

.article-level__circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  box-shadow: 0 4px 7px rgba(0,0,0,.35);
  z-index: 10
}

.article-level__tooltip {
  position: absolute;
  font-size: 11px;
  padding: 4px 18px 4px 5px;
  font-family: font-xb,helvetica,arial sans-serif;
  border-radius: 2px;
  color: #0b0b0b;
  right: 6px;
  top: 6px;
  z-index: 9;
  background: #fff;
  transition: .3s;
  transition-timing-function: ease;
  opacity: 0;
  visibility: hidden
}

.article-level.jun .article-level__circle {
  background: #60bc5a
}

.article-level.jun .article-level__tooltip span {
  color: #60bc5a
}

.article-level.mid .article-level__circle {
  background: #fbd91c
}

.article-level.mid .article-level__tooltip span {
  color: #fbd91c
}

.article-level.sen .article-level__circle {
  background: #cd1527
}

.article-level.sen .article-level__tooltip span {
  color: #cd1527
}

.article:hover figure {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px)
}

.article:hover .article__info {
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  height: 262px
}

.article:hover .article__meta .meta-comments,.article:hover .article__meta .meta-time,.article:hover .article__meta .meta-views {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.article:hover .article__meta .meta-comments {
  transition-delay: .15s
}

.article:hover .article__meta .meta-time {
  transition-delay: .3s
}

.article figure {
  height: 180px;
  position: relative;
  width: 100%;
  transition: .45s;
  transition-timing-function: ease-out;
  background-color: #eee;
}

.article figure img {
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%) translateZ(0);
  transform: translateY(-50%) translateZ(0)
}

.article__info,.article figure img {
  width: 100%;
  position: absolute;
  left: 0
}

.article__info {
  padding: 10px;
  height: 140px;
  top: 170px;
  overflow: hidden;
  background: #fff;
  transition: .45s;
  transition-timing-function: ease
}

.article__time {
  color: #888;
  font-family: font-l,helvetica,arial sans-serif;
  font-size: 11px;
  margin-bottom: 6px
}

.article__name {
  color: #222;
  line-height: 18px;
  letter-spacing: -.025em;
  font-family: font-xb,helvetica,arial sans-serif;
  font-size: 16px;
  margin-bottom: 28px;
  position: relative;
  min-height: 98px;
  word-wrap: break-word;
  text-transform: capitalize;
}

.article__name:before {
  content: "";
  width: 30px;
  height: 1px;
  background: #c6c6c6;
  position: absolute;
  left: 0;
  top: calc(100% + 10px)
}

.article__lead {
  color: #7d7d7d;
  line-height: 16px;
  font-family: font-l,helvetica,arial sans-serif;
  font-size: 14px;
  max-width: 225px;
  word-wrap: break-word
}

.article__footer {
  position: absolute;
  bottom: 8px;
  padding: 0 10px;
  width: 100%;
  left: 0;
  z-index: 2
}

.article__add-favorite {
  width: 16px;
  height: 16px;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1
}

.article__add-favorite.white svg {
  fill: #fff
}

.article__add-favorite.white:hover svg {
  fill: rgba(219,68,84,.7)
}

.article__add-favorite.white.liked svg {
  fill: #db4454
}

.article__add-favorite:hover svg {
  fill: rgba(219,68,84,.7)
}

.article__add-favorite:active svg {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.article__add-favorite:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: -1;
  -webkit-transform: scale(0);
  transform: scale(0)
}

.article__add-favorite.liked:hover svg {
  opacity: .6
}

.article__add-favorite.liked svg {
  fill: #db4454
}

.article__add-favorite.liked:before {
  transition: opacity .6s,background 0s,-webkit-transform .3s;
  transition: transform .3s,opacity .6s,background 0s;
  transition: transform .3s,opacity .6s,background 0s,-webkit-transform .3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  background: #db4454;
  -webkit-transform: scale(150);
  transform: scale(150);
  opacity: 0;
  pointer-events: none
}

.article__add-favorite svg {
  width: 12px;
  height: 12px;
  fill: #c6c6c6;
  transition: .3s;
  transition-timing-function: ease;
  position: absolute;
  top: 2px;
  left: 2px
}

.article__meta {
  font-size: 0;
  overflow: hidden
}

.article__meta .meta-comments,.article__meta .meta-time,.article__meta .meta-views {
  display: inline-block;
  vertical-align: bottom;
  transition: .3s;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  transition-timing-function: ease
}

.article__meta .meta-comments span,.article__meta .meta-time span,.article__meta .meta-views span {
  color: #7d7d7d;
  font-size: 12px;
  font-family: font-l,helvetica,arial sans-serif;
  transition: .3s
}

.article__meta .meta-comments svg,.article__meta .meta-time svg,.article__meta .meta-views svg {
  margin-right: 6px
}

.article__meta .meta-views {
  margin-right: 20px
}

.article__meta .meta-views svg {
  width: 16px;
  height: 9px;
  fill: #a5a5a5;
  transition: .3s
}

.article__meta .meta-comments {
  margin-right: 20px
}

.article__meta .meta-comments svg {
  margin-bottom: -2px;
  width: 12px;
  height: 12px;
  fill: #a5a5a5;
  transition: .3s
}

.article__meta .meta-comments:hover span {
  color: #303335
}

.article__meta .meta-comments:hover svg {
  fill: #303335
}

.article__meta .meta-time svg {
  width: 10px;
  height: 10px;
  fill: #a5a5a5;
  transition: .3s
}

.article.special-project figure {
  height: 100%
}

.article.special-project .article__info {
  background: transparent;
  top: 10px;
  height: 310px;
  padding-bottom: 0
}

.article.special-project .article__type {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-family: font-l,helvetica,arial sans-serif;
  letter-spacing: .075em;
  text-shadow: 0 1px 7px rgba(0,0,0,.9);
  text-align: center;
  margin-bottom: 40px
}

.article.special-project .article__name {
  line-height: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 15px rgba(0,0,0,.7);
  position: relative
}

.article.special-project .article__name:before {
  width: 50px;
  background: hsla(0,0%,100%,.2);
  top: auto;
  bottom: -25px;
  left: calc(50% - 25px);
  transition: .3s;
  transition-timing-function: ease
}

.article.special-project .article__lead {
  color: #a8aaab;
  text-align: center;
  font-size: 12px;
  font-family: font,helvetica,arial sans-serif
}

.article.special-project .article__footer {
  height: 12px
}

.article.special-project .article__add-favorite svg {
  fill: #fff
}

.article.special-project .article__add-favorite:hover svg {
  opacity: .5
}

.article.special-project .article__add-favorite.liked svg {
  fill: #db4454
}

.article.special-project .article__partner {
  color: #fff;
  font-size: 12px;
  font-family: font-l,helvetica,arial sans-serif;
  position: absolute;
  left: 10px;
  letter-spacing: .05em;
  transition: .3s;
  transition-timing-function: ease
}

.article.special-project .article__partner:hover {
  opacity: .3
}

.article.special-project:hover figure {
  -webkit-transform: none;
  transform: none
}

.article.special-project:hover .article__name:before {
  width: 100px;
  left: calc(50% - 50px)
}

.article.without-image figure {
  display: none
}

.article.without-image .article__info {
  position: static;
  padding-top: 20px;
  height: 290px;
  -webkit-transform: none;
  transform: none
}

.article.without-image .article__name {
  line-height: 30px;
  min-height: 138px
}

.article.without-image .article__name:before {
  display: none
}

.article.without-image .article__time {
  position: absolute;
  top: 150px
}

.article.without-image .article__time:before {
  content: "";
  width: 260px;
  height: 1px;
  background: rgba(0,0,0,.2);
  top: 4px;
  left: 100%;
  position: absolute;
  margin-left: 20px
}

.article.guidammercial figure {
  height: 100%
}

.article.guidammercial:hover figure {
  -webkit-transform: none;
  transform: none
}

.article-set {
  width: 100%;
  padding: 30px 3.22581%;
  height: 300px;
  border-radius: 2px;
  box-shadow: 3px 0 20px rgba(0,0,0,.12);
  display: inline-block;
  background: #000;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: .6s;
  transition-timing-function: ease
}


.article__meta span {
  vertical-align: middle;
}

.btn {
  &.btn-loading {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: #c7cbd2ab;
      cursor: wait;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      margin-left: -12px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: rgba(255, 255, 255, 0.25) 2px solid;
      border-top-color: #fff;
      animation: animation-rotate 750ms linear infinite;
      cursor: wait;
    }
  }
}


@-webkit-keyframes animation-rotate { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes animation-rotate { 100% { -moz-transform: rotate(360deg); } }
@-o-keyframes animation-rotate { 100% { -o-transform: rotate(360deg); } }
@keyframes animation-rotate { 100% { transform: rotate(360deg); } }